/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
	font-family: nanumgothic !important;
} */

/* 달력 페이지 */
.display-4 .btn {
	outline: 0;
	border: 0;
}

@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}

/* 예약 페이지 */
.resv-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.resv-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
} 
.resv-form-1 h3{
    text-align: center;
    color: #333;
}

.resv-container form{
    padding: 10%;
} 

/* 로그인 페이지 */
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

/* 달력페이지 */
#event-disabled {
  /* Make the disabled links grayish*/
  text-decoration: overline;
  /* And disable the pointer events */
  pointer-events: none;
}

/* 로그인 페이지 */


